.text-center{
    text-align: center;
  }
  .bg-black{
    background: black;
  }
  .mx-auto{
    margin: auto;
  }
  .flex{
    display: flex;
  }
  .flex-col{
    flex-direction: column;
  }
  .items-center {
    justify-content: center;
    align-items: center;
  }
  .element.items{
   text-align: center;
  }
  .row input{
    margin: 0;
    padding: 6xp 38xp;
  }
